<?xml version='1.0' encoding='utf-8'?>
<widget id="io.noreasverige.valkommentillsverige" version="1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Välkommen till Sverige</name>
    <description>
    </description>
    <author email="norea@noreasverige.se" href="http://www.noreasverige.se">
        Norea Sverige
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="sms:*" />
    <allow-navigation href="http://noreasverige.se/*" />
    <allow-navigation href="https://script.google.com/macros/s/AKfycbyWIkMeGN9pP_drv_vYqRYQ_iHeTNDBuT5wQ9b0Lmil90Pf6xQ/exec" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="Suppresses3DTouchGesture" value="false" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
</widget>
